#shipping-container{
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
#checkout{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 1vw 3vw;
    gap: 5vw;
    justify-content: space-around;
}

.Shipping-details{
display: flex;
flex-direction: column;
gap: 2vw;
width: 50vw;
padding: 2vw;
}
.Shipping-details h2{
    font-size: 25px;
    font-weight: 700;
}
.Shipping-details input{
    border-bottom: 1px solid black;
    padding: 3px 6px;
    min-width: 10px;
}
button{
    background-color:#3498db;
    color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;

}


.billing-details{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    width: 34vw;
    padding: 2vw 4vw;
}
    .billing-details h2{
        font-size: 25px;
        font-weight: 700;
    }
    .grid-container {
        /* margin-left: 60px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 5px;
        font-size: 15px;
      }

      .cont{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 12px;
        text-align: center;
        row-gap: 5px;
        /* grid-template-rows: repeat(2, 1fr); */
      }



      @media(max-width:680px){
        #checkout{
            flex-direction: column;
        }
        .inputsgap{
            row-gap: 8px;
            column-gap: 8px;
        }
        .Shipping-details{
            width: 95vw;
            gap: 4vw;
            font-size: 12px;
        }
         .Shipping-details input{
            padding: 4px 8px;
            border-radius: 2px;
            border: 1px solid black;

         }
         .billing-details{
            flex-direction: column;
            width: 90vw;
            padding: 2vw 4vw;     
        }
        .header{
            display: none
        }

      }

