
.Quote{
    width: 100vw;
    height: auto;
    font-size: 2vw;
    padding: 4vw;
    background-image: url(../../assets/pexelsphoto3452072.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
@media (max-width: 680px) {
    .Quote h1{
        font-size: 4vw;
    }
}