
  .form-container{
    width: 290px;
    padding: 20px 15px;

    background: url(../assets/oggy.jpg);
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-color:white;
    background-position: top;
  }
  
  .image2{
    background: url(../assets/oggy.jpg);
    background-size: 100% 28%;
    background-repeat: no-repeat;
    background-color:white;
    background-position: top;
  }
  @media (max-width:680px){
   .findpet{
    padding: 20px;
    font-size: 15px;
   }
  }




/* 
  .login-container {
    width: 100vw;
    height: 100vh;
    font-size: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
 

    position: absolute;
    left: 0;
    top: 0;
    background-color: initial;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
  .image{
    background: url(../assets/oggy.jpg);
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-color:white;
    background-position: top;
  }
  
  .image2{
    background: url(../assets/oggy.jpg);
    background-size: 100% 28%;
    background-repeat: no-repeat;
    background-color:white;
    background-position: top;
  }
   */