#dogboy{
    width: 80vw;
}
.findme{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   overflow: hidden;
}
#image{
    width: 90vw;
    z-index: 1;
}
.text-container{
    position:absolute;
    font-weight: 600;
    z-index: 0;
    top: 30vh;
    font-size: 88px;
    opacity: 50%;
}
.findme div div{
    font-size: 3vw;
}
.find-search input{
    margin-top: 5vw;
    font-size: 3vw;
    padding:1.5vw;
    border-radius: 5vw;
    width: 60vw;
    border: 1.5px solid black;
}
.find-search button {
    height: 7vw;
    width: 7vw;
    border-radius: 5vw;
    border: none;
    font-size: 4vw;
    background-color: transparent;
}
.find-search button i {
    font-size: 4vw;
    color: black;
}
.find-search button i:hover{
    font-size: 4.5vw;
    background-color: transparent;
}
#findme-heading{
    font-size: 6vw;
    font-weight: 700;
}

@media (min-width:680px){

    #dogboy{
        width: 50vw;
    }
.findme{
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0vw;
}
.findme div div{
    font-size: 1.5vw;
}
#content-find{
    margin-right: 5vw;
}
.find-search input{
    margin-top: 4vw;
    font-size: 1.2vw;
    padding:0.8vw;
    width: 30vw;
}
.find-search button {
    height: 3.3vw;
    width: 3.3vw;
    font-size: 2vw;
    border-radius: 5.5vw;
}

.find-search button i {
    font-size: 1.5vw;
}
.find-search button i:hover{
    font-size: 2vw;
}
#findme-heading{
    font-size: 2.7vw;
}
}
