/* .page5{
    height: 100vh;
    width: 100vw;
    background-image: url(HankPortrait1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f3f3f3e6;
    display: flex;
    font-size: 2.5vw;
    flex-direction:row;
   padding-left: 50vw;
    align-items: center;
    background-color: #f3f3f3;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 3vw;
}

#here{
    margin-top:2vw;
    font-size: 15px;
    padding: 12px;
    width: 33vw;
    height: 3vw;
    border-radius:7px;
    z-index: 1;
} */

/* .page5{
    height: 100vh;
    width: 100vw;
    background-image: url(abt-section.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#fffaf3;
    display: flex;
    font-size: 3vw;
    flex-direction:row;
   padding-left: 50vw;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 3vw;
}

#here{
    margin-top:2vw;
    font-size: 15px;
    padding: 12px;
    width: 33vw;
    height: 3vw;
    border-radius:7px;
    z-index: 1;
}
.findme{
    display: none;
} */
#dogboy{
    width: 80vw;
}

.findme{
    /* background-color:#fffaf3; */
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20vw 0vw 0vw 0px;
    /* backdrop-filter: blur(3px); */
   overflow: hidden;
}
#image{
    width: 90vw;
    z-index: 1;
}
.text-container{
    position:absolute;
    font-weight: 600;
    z-index: 0;
    top: 30vh;
    font-size: 88px;
    opacity: 50%;
}
.findme div div{
    font-size: 3vw;
}
.find-search input{
    margin-top: 5vw;
    font-size: 3vw;
    padding:1.5vw;
    border-radius: 5vw;
    width: 60vw;
}
.find-search button {
    height: 7vw;
    width: 7vw;
    border-radius: 5vw;
    border: none;
}
.find-search button i {
    font-size: 4vw;
}
#findme-heading{
    font-size: 6vw;
}
@media (min-width:680px){
.findme{
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 0vw;
   overflow: hidden;
}
#dogboy{
    width: 50vw;
}
.findme div div{
    font-size: 1.5vw;
}
#content-find{
    margin-right: 5vw;
}
.find-search input{
    margin-top: 4vw;
    font-size: 1.2vw;
    padding:0.8vw;
    border-radius: 5vw;
    width: 30vw;
    border: 1.5px solid black;
}
.find-search button {
    height: 3.3vw;
    width: 3.3vw;
    border-radius: 5.5vw;
    border: none;
    background-color: transparent;
}
.find-search button {
    font-size: 2vw;
    background-color: transparent;
}
.find-search button i:hover{
    font-size: 2vw;
    background-color: transparent;
}

.find-search button i {
    font-size: 1.5vw;
    color: black;
}
#findme-heading{
    font-size: 3vw;
}
}
